<div id="headerApp" v-cloak>
    <nav class="navbar">
        <div class="logo" v-if="isAdmin">관리자 대시보드</div>
        <div class="logo" v-if="!isAdmin">사용자 대시보드</div>
        <ul class="nav-links">
            <li><a href="/account/adminMain/soldier">용사 정보</a></li>
            <li><a href="/account/adminMain/skill">스킬 정보</a></li>
            <li><a href="/account/adminMain/species">종족 정보</a></li>
            <li><a href="/account/adminMain/storage">아이템 정보</a></li>
            <li><a href="/account/adminMain/legion">마물군단 정보</a></li>
            <li><a href="/account/adminMain/general">마물장군 정보</a></li>
            <li v-if="isAdmin"><a href="/account/adminMain/admin">관리자 정보</a></li> <!-- optional -->
            <li v-if="isAdmin"><a href="/account/adminMain/analysis">통계</a></li>
            <li v-if="isAdmin"><a href="/account/adminMain/battle">모의 전투</a></li>
        </ul>
        <div class="logout" v-if="!isAdmin">
            <button class="admin-login-btn" @click="adminLoginButton()">관리자 로그인</button>
        </div>
        <div class="logout" v-if="isAdmin">
            <span class="admin-name-span">{{adminInfo.adminName}} 님</span>
            <a href="/account/logout">로그아웃</a>
        </div>
    </nav>
</div>
<script src="/plugins/vueJs/vue.js"></script>
<script type="text/javascript" src="/plugins/axios/axios.min.js"></script>
<script>
    new Vue({
        el: '#headerApp',
        data: {
            adminInfo: {},
            isAdmin : true
        },
        methods : {
            sessionCheck : function () {
                let vm = this;
                axios.get('/account/sessionCheck')
                    .then(res => {
                        if(res.data){
                            vm.isAdmin = true;
                        }
                        else{
                            vm.isAdmin = false;
                        }
                    })
                    .catch(error => {
                        console.error("Error fetching data: ", error);
                    })
            },
            adminLoginButton : function () {
                let vm = this;
                location.href = "/account/login";
            }
        },
        created() {
            let storedAdminInfo = localStorage.getItem('adminInfo');
            if (storedAdminInfo) {
                this.adminInfo = JSON.parse(storedAdminInfo);
            }
        },
        mounted() {
            this.sessionCheck();
        }
    });
</script>