<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>종족상세정보</title>
    <link rel="stylesheet" href="/common/css/body.css">
    <link rel="stylesheet" href="/common/css/adminHeader.css">
    <link rel="stylesheet" href="/common/css/detailView.css">
</head>
<body>
<div id="app" v-cloak>
    <!-- 헤더영역-->
    <div id="header-container"></div>
    <!-- 메인 컨텐츠 영역 -->
    <div class="content">
        <div class="form-container">
            <h2 class="form-title">종족 상세 정보</h2>
            <div class="form-group">
                <div class="info-container">
                    <span class="form-label">종족 이름</span>
                    <span id="speciesName" class="form-second">{{speciesInfo.speciesName}}</span>
                </div>
            </div>
            <div class="form-group">
                <div class="info-container">
                    <span class="form-label">공격력보정</span>
                    <span id="attackBonus" class="form-second">{{speciesInfo.attackBonus}}</span>
                </div>
            </div>
            <div class="form-group">
                <div class="info-container">
                    <span class="form-label">방어력보정</span>
                    <span id="defenseBonus" class="form-second">{{speciesInfo.defenseBonus}}</span>
                </div>
            </div>
            <div class="form-group">
                <div class="info-container">
                    <span class="form-label">체력보정</span>
                    <span id="strengthBonus" class="form-second">{{speciesInfo.strengthBonus}}</span>
                </div>
            </div>
            <div class="form-group">
                <div class="info-container">
                    <span class="form-label">마력보정</span>
                    <span id="spellBonus" class="form-second">{{speciesInfo.spellBonus}}</span>
                </div>
            </div>
            <div class="form-group">
                <div class="info-container">
                    <span class="form-label">힘보정</span>
                    <span id="forceBonus" class="form-second">{{speciesInfo.forceBonus}}</span>
                </div>
            </div>
            <div class="form-group">
                <div class="info-container">
                    <span class="form-label">지능보정</span>
                    <span id="intelligenceBonus" class="form-second">{{speciesInfo.intelligenceBonus}}</span>
                </div>
            </div>
            <div class="button-group">
                <button type="button" class="btn-primary" @click="editButton()" style="display:none;" :style="{ display: isAdmin ? 'block' : 'none'}">수정</button>
                <button type="button" class="btn-primary" @click="listButton()">목록</button>
            </div>
        </div>
    </div>
</div>

<script src="/plugins/vueJs/vue.js"></script>
<script type="text/javascript" src="/plugins/axios/axios.min.js"></script>
<script src="/dist/jquery/jquery.js"></script>
<script src="/dist/jquery/jquery.min.js"></script>
<script src="/dist/js/toggles-list-filter.js"></script>
<script src="/dist/js/vueCommon.js"></script>
<script>
    $(function() {
        $('#header-container').load('/common/html/adminHeader.html');
    });
</script>

<script>
    new Vue({
        el : "#app",
        data : {
            adminInfo : {},
            speciesInfo : {},
            id : 0,
            isAdmin : false
        },
        methods : $.extend({}, vueMethods, {
            loadData : function () {
                let vm = this;
                vm.id = [[${id}]];

                axios.get('/species/getSpeciesInfo/' + vm.id)
                    .then(res => {
                        vm.speciesInfo = res.data;
                      })
                      .catch(error => {
                        console.error('Error fetching data:', error);
                      });
            },
            listButton : function () {
                let vm = this;
                location.href = "/account/species";
            },
            editButton : function () {
                let vm = this;
                location.href = '/account/species/edit/' + vm.id;
            }
       }),
       filters: {},
       computed: {},
       watch: {},
       created() {},
       mounted() {
            this.getAdminInfo();
            this.loadData();
       }
     })
</script>

</body>
</html>