<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>통계</title>
    <link rel="stylesheet" href="/common/css/body.css">
    <link rel="stylesheet" href="/common/css/adminHeader.css">
    <link rel="stylesheet" href="/css/battle.css">
</head>
<body>
<div id="app" v-cloak>
    <!-- 헤더영역-->
    <div id="header-container"></div>
    <!-- 메인 컨텐츠 영역 -->
    <div class="content">
        <h1>모의 전투</h1>

        <!-- 용사와 마물군단 테이블 나란히 배치 -->
        <div class="selector-container">
            <div class="hero-selection">
                <h2>용사 선택</h2>
                <table>
                    <thead>
                    <tr>
                        <th>선택</th>
                        <th>용사 이름</th>
                        <th>종족</th>
                        <th>공격력</th>
                        <th>방어력</th>
                        <th>체력</th>
                        <th>마력</th>
                        <th>힘</th>
                        <th>지능</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(item, index) in soldierInfo">
                        <td><input type="checkbox" :value="item" v-model="selectedSoldiers"></td>
                        <td>{{item.soldierName}}</td>
                        <td>
                            <span v-if="item.speciesId!=0">{{item.speciesName}}</span>
                            <span v-else>없음</span>
                        </td>
                        <td>{{item.attack}}</td>
                        <td>{{item.defense}}</td>
                        <td>{{item.strength}}</td>
                        <td>{{item.spell}}</td>
                        <td>{{item.force}}</td>
                        <td>{{item.intelligence}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="monster-selection">
                <h2>마물군단 선택</h2>
                <table>
                    <thead>
                    <tr>
                        <th>선택</th>
                        <th>마물군단 이름</th>
                        <th>마물장군 수</th>
                        <th>총 병력수</th>
                        <th>총 공격력</th>
                        <th>총 방어력</th>
                        <th>총 이동력</th>
                        <th>사기</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(item, index) in legionInfo">
                        <td><input type="radio" name="monster" :value="item" v-model="selectedLegion"></td>
                        <td>{{item.legionName}}</td>
                        <td>{{item.generals.length}}</td>
                        <td>{{item.troopCount}}</td>
                        <td>{{item.totalAttack}}</td>
                        <td>{{item.totalDefense}}</td>
                        <td>{{item.movementSpeed}}</td>
                        <td>{{item.morale}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- 전투 버튼 추가 -->
        <div class="battle-button-container">
            <button id="battle-button" @click="battleButton()">모의 전투 시작</button>
            <button id="cancel-button" @click="cancelButton()">초기화</button>
        </div>

        <div class="battle-result" v-if="isResultState">
            <h2>전투 결과</h2>
            <p id="result-text">선택한 결과가 여기에 표시됩니다.</p>
        </div>

        <div class="battle-result" v-if="!isResultState">
            <h2>전투 결과</h2>
            <table style="width:50%; margin:0 auto;">
                <thead>
                <tr>
                    <th style="width:40%;">항목</th>
                    <th style="width:30%;">용사</th>
                    <th style="width:30%;">마물군단</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>최종 공격력</td>
                    <td>{{ soldierTotalFinalAttack }}</td>
                    <td>{{ legionTotalFinalAttack }}</td>
                </tr>
                <tr>
                    <td>최종 방어력</td>
                    <td>{{ soldierTotalFinalDefense }}</td>
                    <td>{{ legionTotalFinalDefense }}</td>
                </tr>
                <tr>
                    <td>전투 승리 여부</td>
                    <td colspan="2">{{ totalResult }}</td>
                </tr>
                <tr>
                    <td>내용</td>
                    <td colspan="2">{{ totalResultContent }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- 스탯 상승 결과 및 아이템/스킬 정보 표시 -->
        <div class="stat-increase" v-if="!isResultState">
            <h2>스탯 보정 결과</h2>

            <div class="hero-stats">
                <h3>용사 스탯</h3>
                <table>
                    <thead>
                    <tr>
                        <th style="width:7%;">용사 이름</th>
                        <th style="width:10%;">최종 공격력</th>
                        <th style="width:10%;">최종 방어력</th>
                        <th>아이템</th>
                        <th>스킬</th>
                        <th>종족</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(soldier, index) in selectedSoldierInfo" :key="index">
                        <td>{{ soldier.soldierName }}</td>
                        <td>{{ soldier.totalAttack}}</td>
                        <td>{{ soldier.totalDefense }}</td>
                        <td>
                            <ul v-if="soldier.items.length==0">
                                <li>없음</li>
                            </ul>
                            <ul v-else>
                                <li v-for="(item, idx) in soldier.items" :key="idx">
                                    {{ item.itemName }} (공격력: {{ item.attackBonus }}, 방어력: {{ item.defenseBonus }})
                                </li>
                            </ul>
                        </td>
                        <td>
                            <span v-if="soldier.skillId!=0">{{ soldier.skillName }}(공격력: 0, 방어력: 0)</span>
                            <span v-else>없음</span>
                        </td>
                        <td>
                            <span v-if="soldier.speciesId!=0">{{ soldier.speciesName }}(공격력: {{ soldier.speciesAttack }}, 방어력: {{ soldier.speciesDefense }})</span>
                            <span v-else>없음</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="monster-stats">
                <h3>마물군단 스탯</h3>
                <table>
                    <thead>
                    <tr>
                        <th>마물군단 이름</th>
                        <th>마물군단 병력수</th>
                        <th>최종 총 공격력</th>
                        <th>최종 총 방어력</th>
                        <th>최종 총 이동력</th>
                        <th>최종 총 사기</th>
                        <th>마물장군</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ selectedLegionInfo.legionName }}</td>
                        <td>{{ selectedLegionInfo.troopCount }}</td>
                        <td>{{ selectedLegionInfo.totalAttackValue }}</td>
                        <td>{{ selectedLegionInfo.totalDefenseValue }}</td>
                        <td>{{ selectedLegionInfo.movementSpeed }}</td>
                        <td>{{ selectedLegionInfo.morale }}</td>
                        <td>
                            <ul v-if="selectedLegionInfo.generals.length===0">
                                <li>없음</li>
                            </ul>
                            <ul v-else>
                                <li v-for="(general, idx) in selectedLegionInfo.generals" :key="idx">
                                    {{ general.generalName }} (공격력: {{ general.attackBonus }}, 방어력: {{ general.defenseBonus }}, 천적종족: <span v-if="general.speciesName!=null">{{ general.speciesName }}</span><span v-else>없음</span>)
                                </li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="/plugins/vueJs/vue.js"></script>
<script type="text/javascript" src="/plugins/axios/axios.min.js"></script>
<script src="/dist/jquery/jquery.js"></script>
<script src="/dist/jquery/jquery.min.js"></script>
<script src="/dist/js/toggles-list-filter.js"></script>
<script src="/dist/js/vueCommon.js"></script>
<script>
    $(function() {
        $('#header-container').load('/common/html/adminHeader.html');
    });

    new Vue({
        el: "#app",
        data: {
            soldierInfo : [],
            legionInfo : [],
            selectedSoldiers : [],      // 선택한 용사 값
            selectedLegion : [],        // 선택한 마물군단 값
            selectedSoldierInfo : [],   // 최종 용사 정보 담는 배열
            selectedLegionInfo : [],    // 최종 마물군단 정보 담는 배열
            isResultState : true,
            soldierTotalFinalAttack : 0,
            soldierTotalFinalDefense : 0,
            legionTotalFinalAttack : 0,
            legionTotalFinalDefense : 0,
            totalResult : "",
            totalResultContent : "",
            isAdmin : false
        },
        methods: $.extend({}, vueMethods, {
            getSoldierList : function () {
                let vm = this;
                axios.get('/soldier/getSoldierList')
                    .then(res => {
                        vm.soldierInfo = res.data;
                    })
                    .catch(error => {
                      console.error("Error fetching data: ", error);
                    })
            },
            getLegionList : function () {
                let vm = this;
                axios.get('/legion/getLegionList')
                    .then(res => {
                        vm.legionInfo = res.data;
                    })
                    .catch(error => {
                      console.error("Error fetching data: ", error);
                    })
            },
            battleButton : function () {
                let vm = this;
                if(vm.selectedSoldiers.length < 1) {
                    alert("용사를 선택해주세요.");
                    return false;
                }
                else if(vm.selectedLegion.length < 1) {
                    alert("마물군단을 선택해주세요.");
                    return false;
                }
                vm.resetTotalValue();                           // TOTAL VALUE 초기화

                vm.selectedSoldierInfo = vm.selectedSoldiers;   // 선택된 용사 정보 담기
                vm.selectedLegionInfo = vm.selectedLegion;      // 선택된 마물 정보 담기

                vm.totalSoldierValue();         // 용사 최종 합산
                vm.totalLegionValue();          // 마물군단 최종 합산

                if(vm.soldierTotalFinalAttack < vm.legionTotalFinalDefense && vm.legionTotalFinalAttack < vm.soldierTotalFinalDefense) {       // 양쪽 모두의 공격력 < 양쪽 모두의 방어력
                    vm.totalResult = "무승부입니다.";
                    vm.totalResultContent = "양쪽 모두의 공격력이 상대의 방어력보다 낮습니다.";
                }
                else if(vm.soldierTotalFinalAttack > vm.legionTotalFinalDefense && vm.legionTotalFinalAttack > vm.soldierTotalFinalDefense) {       // 양쪽 모두의 공격력 > 양쪽 모두의 방어력
                    vm.totalResult = "양쪽 모두 전멸했습니다.";
                    vm.totalResultContent = "양쪽 모두의 공격력이 상대의 방어력보다 높습니다.";
                }
                else if(vm.soldierTotalFinalAttack > vm.legionTotalFinalDefense) {                   // 용사의 공격력 > 마물군단의 방어력
                    vm.totalResult = "용사의 승리입니다.";
                    vm.totalResultContent = "용사의 총 공격력이 마물군단의 총 방어력보다 높습니다.";
                }
                else if(vm.legionTotalFinalAttack > vm.soldierTotalFinalDefense) {              // 마물군단의 공격력 > 용사의 방어력
                    vm.totalResult = "마물군단의 승리입니다.";
                    vm.totalResultContent = "마물군단의 총 공격력이 용사의 총 방어력보다 높습니다.";
                }

                vm.isResultState = false;
            },
            totalSoldierValue : function () {
                let vm = this;
                for(let i = 0 ; i < vm.selectedSoldierInfo.length ; i++) {
                    vm.selectedSoldierInfo[i].totalAttack = vm.naturalEnemyCheck(vm.selectedSoldierInfo[i].attack, vm.selectedSoldierInfo[i].speciesName) + vm.selectedSoldierInfo[i].speciesAttack;
                    vm.selectedSoldierInfo[i].totalDefense = vm.naturalEnemyCheck(vm.selectedSoldierInfo[i].defense, vm.selectedSoldierInfo[i].speciesName) + vm.selectedSoldierInfo[i].speciesDefense;

                    for(let j = 0 ; j < vm.selectedSoldierInfo[i].items.length ; j++) {
                        vm.selectedSoldierInfo[i].totalAttack += vm.selectedSoldierInfo[i].items[j].attackBonus;
                        vm.selectedSoldierInfo[i].totalDefense += vm.selectedSoldierInfo[i].items[j].defenseBonus;
                    }
                }

                for(let i = 0 ; i < vm.selectedSoldierInfo.length ; i++){
                    vm.soldierTotalFinalAttack += vm.selectedSoldierInfo[i].totalAttack;            // 용사 공격력 합산
                    vm.soldierTotalFinalDefense += vm.selectedSoldierInfo[i].totalDefense;          // 용사 방어력 합산
                }
            },
            totalLegionValue : function () {
                let vm = this;
                vm.selectedLegionInfo.totalAttackValue = vm.selectedLegionInfo.totalAttack;
                vm.selectedLegionInfo.totalDefenseValue = vm.selectedLegionInfo.totalDefense;

                for(let i = 0 ; i < vm.selectedLegionInfo.generals.length ; i++) {
                    vm.selectedLegionInfo.totalAttackValue += vm.selectedLegionInfo.generals[i].attackBonus;
                    vm.selectedLegionInfo.totalDefenseValue += vm.selectedLegionInfo.generals[i].defenseBonus;
                }

                vm.legionTotalFinalAttack += vm.selectedLegionInfo.totalAttackValue;                // 마물군단 공격력 합산
                vm.legionTotalFinalDefense += vm.selectedLegionInfo.totalDefenseValue;              // 마물군단 방어력 합산
            },
            naturalEnemyCheck : function (value, speciesName) {                                     // 천적 여부 체크
                let vm = this;
                for(let i = 0 ; i < vm.selectedLegionInfo.generals.length ; i++){
                    if(vm.selectedLegionInfo.generals[i].speciesName == speciesName){
                        return value*2;
                    }
                }
                return value;
            },
            cancelButton : function () {
                let vm = this;
                vm.resetTotalValue();
                vm.selectedSoldiers = [];
                vm.selectedLegion = [];
                vm.selectedSoldierInfo = [];
                vm.selectedLegionInfo = [];
                vm.isResultState = true;
            },
            resetTotalValue : function () {
                let vm = this;
                vm.soldierTotalFinalAttack = 0;
                vm.soldierTotalFinalDefense = 0;
                vm.legionTotalFinalAttack = 0;
                vm.legionTotalFinalDefense = 0;
                vm.totalResult = "";
                vm.totalResultContent = "";
            }
        }),
        filters: {},
        computed: {},
        watch: {},
        created() {},
        mounted() {
            this.getSoldierList();
            this.getLegionList();
        }
    });
</script>
</body>
</html>