<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/common/css/body.css">
    <link rel="stylesheet" href="/common/css/adminHeader.css">
    <link rel="stylesheet" href="/common/css/listView.css">
</head>
<body>
<div id="app">
    <!-- 헤더영역-->
    <div id="header-container"></div>
    <!-- 메인 컨텐츠 영역 -->
    <div class="content">
        <h1>관리자 목록</h1>
        <div class="skill-list">

            <div class="search-and-register-container">
                <div class="search-container">
                </div>

                <div class="skill-actions">
                    <button class="register-skill-btn" @click="openAddView()">관리자 등록</button>
                </div>
            </div>

            <table class="skill-table">
                <thead>
                <tr>
                    <th>번호</th>
                    <th>아이디</th>
                    <th>이름</th>
                    <th>전화번호</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item, index) in accountInfo">
                    <td>{{index + 1}}</td>
                    <td><a :href="'/account/adminMain/admin/detail/' + item.id">{{item.adminId}}</a></td>
                    <td>{{item.adminName}}</td>
                    <td>{{item.adminPhoneNumber | tel}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="/plugins/vueJs/vue.js"></script>
<script type="text/javascript" src="/plugins/axios/axios.min.js"></script>
<script src="/dist/jquery/jquery.js"></script>
<script src="/dist/jquery/jquery.min.js"></script>
<script src="/dist/js/toggles-list-filter.js"></script>
<script src="/dist/js/vueCommon.js"></script>
<script>
    $(function() {
        $('#header-container').load('/common/html/adminHeader.html');
    });
</script>

<script>
    new Vue({
        el : "#app",
        data : {
            checkAdmin : {},
            accountInfo : {},
            search : {
                searchKeyword : ""
            }
        },
        methods : {
            loadData : function () {
                let vm = this;
                axios.get('/admin/getAccountList')
                    .then(res => {
                        vm.accountInfo = res.data;
                    })
                    .catch(error => {
                      console.error("Error fetching data: ", error);
                    })
            },
            getAdminInfo : function () {
                let vm = this;
                axios.get('/account/getAdminInfo')
                    .then(res => {
                        vm.checkAdmin = res.data;
                        localStorage.setItem('adminInfo', JSON.stringify(vm.checkAdmin));
                    })
                    .catch(error => {
                      console.error("Error fetching data: ", error);
                    })
            },
            openAddView : function () {
                location.href = "/account/adminMain/admin/add";
            }
        },
       filters:  $.extend({}, vueFilters, {}),
       computed: {},
       watch: {},
       created() {},
       mounted() {
            this.getAdminInfo();
            this.loadData();
       }
     })
</script>


</body>
</html>