<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/common/css/body.css">
    <link rel="stylesheet" href="/common/css/adminHeader.css">
</head>
<body>
<div id="app" v-cloak>
    <div id="header-container"></div>
    <!-- 메인 컨텐츠 영역 -->
    <div class="content">
        <h1 v-if="isAdmin">관리자 대시보드</h1>
        <h1 v-if="!isAdmin">사용자 대시보드</h1>
        <p>위의 탭을 통해 원하는 기능을 선택하세요.</p>
    </div>
</div>

<script src="/plugins/vueJs/vue.js"></script>
<script type="text/javascript" src="/plugins/axios/axios.min.js"></script>
<script src="/dist/jquery/jquery.js"></script>
<script src="/dist/jquery/jquery.min.js"></script>
<script src="/dist/js/toggles-list-filter.js"></script>
<script src="/dist/js/vueCommon.js"></script>
<script>
    $(function() {
        $('#header-container').load('/common/html/adminHeader.html');
    });
</script>

<script>
    new Vue({
        el : "#app",
        data : {
            adminInfo : {},
            isAdmin : false
        },
        methods : $.extend({}, vueMethods, {
            search_button : function () {

            },
            invalidate_button : function () {
                let vm = this;
                vm.search.searchOption = "all";
                vm.search.whetherToRent = "all";
                vm.search.searchKeyword = "";
            }
        }),
       filters: {},
       computed: {},
       watch: {},
       created() {},
       mounted() {
            this.getAdminInfo();
       }
     })
</script>


</body>
</html>