<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" href="/common/css/body.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div id="app" class="container" v-cloak>
    <div class="login-container">
        <h2 class="login-h2">로그인</h2>
        <form>
            <div class="input-group">
                <label for="username">ID</label>
                <input type="text" id="username" name="username" v-model="adminInfo.adminId" required>
            </div>
            <div class="input-group">
                <label for="password">비밀번호</label>
                <input type="password" id="password" name="password" v-model="adminInfo.adminPassword" required>
            </div>
            <div class="button-group">
                <button type="button" class="btn-login" @click="loginButton()">로그인</button>
                <button type="button" class="btn-cancel" @click="cancelButton()">목록</button>
            </div>
        </form>
    </div>
</div>

<script src="/plugins/vueJs/vue.js"></script>
<script type="text/javascript" src="/plugins/axios/axios.min.js"></script>
<script src="/dist/jquery/jquery.js"></script>
<script src="/dist/jquery/jquery.min.js"></script>
<script src="/dist/js/toggles-list-filter.js"></script>
<script src="/dist/js/vueCommon.js"></script>

<script>
    new Vue({
        el : "#app",
        data : {
            adminInfo : {
                adminId : "",
                adminPassword : ""
            }
        },
        methods : {
            loginButton : function () {
                let vm = this;
                let formData = new FormData();
                Object.keys(vm.adminInfo).forEach((key) => {
                    if(vm.adminInfo[key]==null){
                        formData.append(key, "");
                    }
                    else{
                        formData.append(key, vm.adminInfo[key]);
                    }
                })
                axios.post('/account/loginCheck', formData)
                    .then(res => {
                        if(res.data){
                            location.href = "/account"
                         }else{
                            alert("아이디 또는 비밀번호가 일치하지 않습니다.");
                            return false;
                         }
                    })
                    .catch(error => {
                        console.error("Error fetching data : ", error);
                    })
            },
            cancelButton : function () {
                let vm = this;
                location.href = "/account";
            }
        },
       filters: $.extend({}, vueFilters, {}),
       computed: {},
       watch: {},
       created() {},
       mounted() {
       }
     })
</script>


</body>
</html>


