/* 전체 컨텐츠 영역 스타일 */
.content {
    width: 60%;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto;
}

/* 제목 스타일 */
.content h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

/* 검색 및 스킬 등록 영역 스타일 */
.search-and-register-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* 검색 영역 스타일 */
.search-container {
    display: flex;
    align-items: center;
}

.search-container select, .search-container input {
    padding: 5px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#search-btn {
    padding: 6px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#search-btn:hover {
    background-color: #45a049;
}

/* 스킬 등록 버튼 스타일 */
.skill-actions {
    display: flex;
    justify-content: flex-end;
}

.register-skill-btn {
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.register-skill-btn:hover {
    background-color: #007bb5;
}

/* 테이블 스타일 */
.skill-table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #fff;
}

.skill-table th, .skill-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.skill-table th {
    background-color: #333;
    color: white;
}

/* 번호가 들어가는 두 번째 tr부터의 스타일 */
.skill-table tr:nth-child(n+1) td {
    color: black; /* 글자 색상 검정으로 설정 */
}

.skill-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.skill-table tr:hover {
    background-color: #ddd;
}

td a {
    color : black;
    font-weight : bold;
}
